{
  "extends": "stylelint-config-htmlacademy",
  "ignoreFiles": "source/img/sprite.svg",
  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
