/* ==========================================================================
   Попутчики
   ========================================================================== */

.companion {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: $blue-color;
}

.companion__wrapp {
  box-sizing: border-box;
}

.companion__container {
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &::before {
    width: 132px;
    height: 132px;
    left: -20px;

    background-color: $blue-color--dark3;
    border-radius: 20px;
  }

  &::after {
    width: 143px;
    height: 143px;
    right: 25px;

    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
  }
}

.companion__page-info {
  margin-bottom: 55px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 30px;

  & br {
    display: none;
  }
}

.companion__list {
  @include reset-ul;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -35px;
    z-index: -1;

    width: 71px;
    height: 71px;

    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.companion__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.companion__header {
  //
}

.companion__header-photo {
  margin: 0;
  line-height: 0;
  border-radius: 20px 20px 0 0;
}

.companion__header-img {
  border-radius: 20px 20px 0 0;
}

.companion__content {
  margin-top: -12px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 22px;

  background-color: $white-color;
  border-radius: 0 0 20px 20px;
}

.companion__flags {
  @include reset-ul;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.companion__flag {
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }
}

.companion__flag-img {
  //
}

.companion__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $blue-color--light;
  text-align: center;
}

.companion__title-link {
  color: $blue-color--light;
  text-decoration: none;
}

.companion__tags {
  justify-content: center;
  margin-bottom: 15px;
}

.companion__transport {
  //
}

.companion__button {
  width: 100%;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .companion {
    padding-top: 80px;
    padding-bottom: 88px;
  }

  .companion__container {
    &::before {
      width: 213px;
      height: 213px;
      left: 40px;
    }

    &::after {
      width: 285px;
      height: 285px;
      right: 75px;

      background-image: url("../img/rogovaya-back-desktop@1x.png");
    }
  }

  .companion__wrapp {
    padding-left: 35px;
    padding-right: 35px;
  }

  .companion__page-info {
    width: 440px;
    margin-bottom: 60px;
    padding: 0;
    padding-top: 65px;

    & br {
      display: inline;
    }
  }

  .companion__list {
    z-index: -1;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;

    &::before {
      top: -95px;
      left: -35px;

      width: 143px;
      height: 143px;

      background-image: url("../img/smolov-back-desktop@1x.png");
    }
  }

  .companion__item {
    width: 285px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .companion__header-img {
    width: 285px;
    height: 285px;
  }

  .companion__content {
    padding: 0 35px 30px;
  }

  .companion__flags {
    margin-bottom: 20px;
  }

  .companion__title {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 24px;
  }

  .companion__tags {
    margin-bottom: 25px;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .companion {
    padding-top: 130px;
  }

  .companion__container {
    &::before {
      top: -60px;
      left: 60px;
    }

    &::after {
      top: 255px;
      left: 190px;
      right: auto;
    }
  }

  .companion__wrapp {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 70px;
    padding-bottom: 54px;
  }

  .companion__page-info {
    padding-top: 0;
    margin-bottom: 168px;
  }

  .companion__list {
    width: 630px;
    margin-left: auto;
    margin-bottom: 0;

    &::before {
      top: 0;
      left: -205px;
    }
  }

  .companion__button {
    width: 280px;
    margin-top: -80px;
  }
}
