/* ==========================================================================
   Попутчики
   ========================================================================== */

.companion {
  padding-bottom: 30px;
  background-color: $blue-color;
}

.companion__wrapp {
  box-sizing: border-box;
}

.companion__container {
  background-image: url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 310px;
}

.companion__page-info {
  margin-bottom: 55px;
  padding-top: 70px;
  padding-left: 25px;
  padding-right: 30px;

  background-image: url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right 40px;

  & br {
    display: none;
  }
}

.companion__list {
  @include reset-ul;
}

.companion__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.companion__header {
  //
}

.companion__header-photo {
  margin: 0;
  line-height: 0;
  border-radius: 20px 20px 0 0;
}

.companion__header-img {
  border-radius: 20px 20px 0 0;
}

.companion__content {
  margin-top: -12px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 22px;

  background-color: $white-color;
  border-radius: 0 0 20px 20px;
}

.companion__flags {
  @include reset-ul;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.companion__flag {
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }
}

.companion__flag-img {
  //
}

.companion__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: $blue-color--light;
  text-align: center;
}

.companion__title-link {
  color: $blue-color--light;
  text-decoration: none;
}

.companion__tags {
  justify-content: center;
  margin-bottom: 15px;
}

.companion__transport {
  //
}

.companion__button {
  width: 100%;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .companion {
    padding-top: 80px;
    padding-bottom: 88px;
  }

  .companion__container {
    background-image: none;
  }

  .companion__wrapp {
    padding-left: 35px;
    padding-right: 35px;

    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 368px 0, 0 320px;
  }

  .companion__page-info {
    width: 440px;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    padding-top: 65px;

    background-image: none;

    & br {
      display: inline;
    }
  }

  .companion__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .companion__item {
    width: 285px;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .companion__header-img {
    width: 285px;
    height: 285px;
  }

  .companion__content {
    padding: 0 35px 30px;
  }

  .companion__flags {
    margin-bottom: 20px;
  }

  .companion__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
  }

  .companion__tags {
    margin-bottom: 25px;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .companion {
    padding-top: 130px;
  }

  .companion__wrapp {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    padding-left: 70px;
    padding-bottom: 54px;

    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 130px 260px, 485px 0;
  }

  .companion__page-info {
    padding-top: 0;
    margin-bottom: 168px;
  }

  .companion__list {
    width: 630px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .companion__button {
    width: 280px;
    margin-top: -80px;
  }
}
