/* ==========================================================================
   Секция с контактами и картой на главной странице
   ========================================================================== */

.contact {
  position: relative;
  z-index: 4;

  margin-top: -30px;

  line-height: 0;

  @media (min-width: $breakpoint-tablet) {
    margin-top: -50px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $breakpoint-desktop) {
    //
  }
}

.contact__top {
  position: relative;

  padding-top: 65px;

  background-color: $yellow-color;
  border-radius: 0 0 30px 30px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 85px;
  }
}

.contact__bottom {
  margin-top: -25px;
}

.contact__container {
  padding-bottom: 40px;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 70px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-bottom: 60px;
  }
}

.contact__wrapp {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 222px;
    padding-right: 70px;
  }
}

.contact__thumb-menu {
  margin-bottom: 30px;

  @media (min-width: $breakpoint-desktop) {
    width: 560px;
    margin-bottom: 0;
  }
}

.contact__thumb-menu br {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.contact__button {
  @media (min-width: $breakpoint-tablet) {
    width: 100%;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 324px;
  }
}

.contact__button:hover,
.contact__button:focus {
  color: $white-color;
  background-color: $blue-color;

  .button-big__arrow {
    fill: $white-color;
  }
}

.contact__button:active {
  color: rgba($white-color, 0.3);

  .button-big__arrow {
    fill: rgba($white-color, 0.3);
  }
}

.contact__map {
  width: 100%;
  height: 340px;

  border: none;

  @media (min-width: $breakpoint-tablet) {
    height: 580px;
  }

  @media (min-width: $breakpoint-desktop) {
    height: 500px;
  }
}
