/* ==========================================================================
   Форма на главной странице
   ========================================================================== */

.index-form {
  position: relative;

  display: flex;
  height: 62px;
}

.index-form__input {
  width: 100%;
  padding-left: 25px;
  padding-right: 85px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $grey-color;

  background-color: $white-color;
  border: none;
  border-radius: 10px;
}

.index-form__button {
  position: absolute;
  right: 0;

  width: 60px;
  height: 62px;
  padding: 0;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .index-form__input {
    padding-left: 35px;
    padding-right: 95px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 20px;
  }

  .index-form__button {
    width: 82px;
    height: 81px;

    border-radius: 0 20px 20px 0;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .index-form__input {
    width: 850px;
  }

  .index-form__button {
    width: 324px;
    padding: 0 50px 0 40px;
  }
}
