/* ==========================================================================
   Логотип
   ========================================================================== */

.logo {
  display: none;
  padding: 27px 0;

  line-height: 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 45px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0;
  }
}

.logo__img {
  width: 100px;
  height: 19px;

  @media (min-width: $breakpoint-tablet) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 200px;
    height: 52px;
  }
}
