/* ==========================================================================
   Основной контент
   ========================================================================== */

.page-main {

}

.page-main__head {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  background-color: $blue-color--dark;
}

.page-main__container {

}

.page-main__title {
  position: relative;

  display: inline-block;
  margin: 0;
  padding-bottom: 10px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $white-color;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;

    width: 100%;
    height: 5px;

    background-color: $orange-color;
    border-radius: 3px;
  }
}

.page-main__link {
  display: none;
}
