/* ==========================================================================
   Шапка сайта
   ========================================================================== */

.page-header {
  position: relative;
  z-index: 999;

  width: 100%;

  color: $white-color;
  background-color: $blue-color--dark;

  @media (min-width: $breakpoint-tablet) {
    background-color: $blue-color--light2;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 30px;
    background-color: $blue-color--dark;
  }
}

.page-header--no-js {
  color: $blue-color--dark;
  background-color: $white-color;

  @media (min-width: $breakpoint-desktop) {
    color: $white-color;
    background-color: $blue-color--dark;
  }
}

.page-header--close {
  color: $white-color;
  background-color: $blue-color--dark;

  @media (min-width: $breakpoint-tablet) {
    background-color: $blue-color--light2;
  }

  @media (min-width: $breakpoint-desktop) {
    background-color: $blue-color--dark;
  }
}

.page-header--open {
  position: absolute;
  top: -73px;

  color: $blue-color--dark;
  background-color: $white-color;

  @media (min-width: $breakpoint-tablet) {
    top: -132px;
  }

  @media (min-width: $breakpoint-desktop) {
    top: -120px;
    background-color: $blue-color--dark;
  }
}

.page-header--open + .page-main {
  margin-top: 73px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 120px;
  }
}

.page-header--fixed {
  position: fixed;
  top: 0;

  color: $blue-color--dark;
  background-color: $white-color;

  @media (min-width: $breakpoint-desktop) {
    padding-top: 0;
  }
}

.page-header--fixed .site-menu__item,
.page-header--fixed .site-menu__link {
  color: $blue-color;
}

.page-header--fixed + .page-main {
  margin-top: 73px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 120px;
  }
}

.page-header--close.page-header--fixed {
  border-bottom: 1px solid $white-color--dark;
}

.page-header--open.page-header--fixed {
  @media (min-width: $breakpoint-desktop) {
    border-bottom: 1px solid $white-color--dark;
  }
}

.page-header__wrapp {
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 90px;
  }
}

.page-header__scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 73px;

  @media (min-width: $breakpoint-tablet) {
    width: 355px;
    min-height: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    position: relative;

    width: 300px;
    min-height: 90px;
  }
}

.page-header__scroll::after {
  @media (min-width: $breakpoint-desktop) {
    content: "";
    position: absolute;
    right: 0;

    width: 60px;
    height: 2px;

    background-color: $white-color;
  }
}

.page-header--fixed .page-header__scroll::after {
  @media (min-width: $breakpoint-desktop) {
    width: 45px;
    background-color: $blue-color;
  }
}

.page-header__logo {
  display: none;
}

.page-header--no-js .page-header__logo--blue,
.page-header--fixed .page-header__logo--blue {
  display: block;

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.page-header--no-js .page-header__logo--white {
  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.page-header--close .page-header__logo--white,
.page-header--open .page-header__logo--blue {
  display: block;
}

.page-header--close .page-header__logo--white,
.page-header--open .page-header__logo--white {
  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.page-header--close .page-header__logo--blue,
.page-header--open .page-header__logo--blue {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.page-header--fixed .page-header__logo--white {
  display: none;
}

.page-header--fixed .page-header__logo--blue {
  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.page-header__toggle {
  display: none;
  width: 25px;
  height: 25px;
  padding: 0;

  line-height: 0;

  background-color: transparent;
  border: none;
}

.page-header--close .page-header__toggle--open,
.page-header--open .page-header__toggle--close {
  display: block;

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.page-header--close .page-header__toggle--close,
.page-header--open .page-header__toggle--open {
  display: none;
}

.page-header__toggle-icon {
  fill: $white-color;
}

.page-header__toggle--open .page-header__toggle-icon {
  width: 25px;
  height: 11px;
}

.page-header__toggle--close .page-header__toggle-icon {
  width: 19px;
  height: 19px;
}

.page-header--close .page-header__toggle-icon {
  fill: $white-color;
}

.page-header--open .page-header__toggle-icon,
.page-header--fixed .page-header__toggle-icon {
  fill: $grey-color--light;
}

.page-header__contact {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    max-width: 195px;
  }

  @media (min-width: $breakpoint-desktop) {
    order: 1;
    max-width: 300px;
  }
}

.page-header__contact .contact-btn__item--phone,
.page-header__contact .contact-btn__item--email {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.page-header__nav {
  display: none;
  width: 100%;
  padding: 40px 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 50px 0 90px;
  }

  @media (min-width: $breakpoint-desktop) {
    order: 0;
    display: block;
    width: 630px;
    padding: 0;
  }
}

.page-header--no-js .page-header__nav,
.page-header--open .page-header__nav {
  display: flex;
}
