/* ==========================================================================
   Основная навигация
   ========================================================================== */

.page-nav {
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-nav__site-menu {
  margin-bottom: 50px;
}

.page-nav__user-menu {
  margin-bottom: 60px;
}

.page-nav__contact-menu {
  margin-bottom: 55px;
}

.page-nav__social-menu {
  //
}
