/* ==========================================================================
   Шапка сайта
   ========================================================================== */

/* Главная обертка шапки */
.page-header {
  position: absolute;
  z-index: 999;
  top: -73px;

  width: 100%;
  min-height: 73px;

  color: $white-color;
  background-color: $blue-color--dark;

  @media (min-width: $breakpoint-tablet) {
    top: -132px;
    min-height: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    position: static;
    top: auto;
    min-height: 90px;
  }

  &--fixed {
    position: fixed;
    top: 0;

    padding-top: 0;
  }
}

/* Чтобы контент под шапкой оставался на месте когда шапка вырвата из потока */
.page-header + .page-main {
  margin-top: 73px;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 0;
  }
}

.page-header--fixed + .page-main {
  @media (min-width: $breakpoint-desktop) {
    margin-top: 120px;
  }
}

/* Модификатор меняет внешний вид шапки при скроле и открытия меню */
.page-header--white {
  color: $blue-color--dark;

  background-color: $white-color;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $breakpoint-desktop) {
    border-bottom: none;

    .site-menu__link {
      color: $blue-color;

      &:hover,
      &:focus {
        color: $yellow-color;
      }

      &:active {
        color: rgba($yellow-color, 0.3);
      }
    }

    .page-header__scroll::before {
      width: 45px;
      background-color: $blue-color;
    }
  }
}

/* Модификатор меняет внешний вид шапки при закрытом меню */
.page-header--blue {
  color: $white-color;
  background-color: $blue-color--dark;

  @media (min-width: $breakpoint-tablet) {
    background-color: $blue-color--light2;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 30px;
    background-color: $blue-color--dark;
  }
}

.inner-page .page-header--blue {
  background-color: $blue-color--dark;
}

.page-header__logo {
  padding: 27px 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 45px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0;
  }
}

/* Показывает различный логотип при разном состоянии шапки */
.page-header--blue .logo--white,
.page-header--white .logo--blue {
  display: block;
}

/* Обертка для логотипа и навигации */
.page-header__wrapp {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-height: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    align-items: center;
    min-height: 90px;
  }
}

/* Обертка для логотипа и кнопки меню */
.page-header__scroll {
  box-sizing: border-box;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpoint-tablet) {
    width: 357px;
    min-height: 132px;
  }

  @media (min-width: $breakpoint-desktop) {
    position: relative;

    width: 300px;
    min-height: auto;
    margin-right: 45px;

    &::before {
      content: "";
      position: absolute;
      right: 0;

      width: 60px;
      height: 2px;

      background-color: $white-color;
    }
  }
}

/* Кнопка меню */
.page-header__toggle {
  padding: 0;

  background-color: transparent;
  border: none;

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

/* Размер кнопки меню при закрытом меню */
.page-header__toggle--open {
  width: 25px;
  height: 25px;
}

/* Размер кнопки меню при открытом меню */
.page-header__toggle--close {
  width: 19px;
  height: 19px;
}

/* Иконка кнопки меню */
.page-header__toggle-icon {
  display: none;
  fill: $white-color;
}

/* При фиксированной шапке меняем цвет кнопки меню */
.page-header--fixed .page-header__toggle-icon {
  fill: $grey-color--light;
}

/* Показывет иконку в виде бургера при закрытом меню */
.page-header__toggle--open .page-header__toggle-icon--open {
  display: block;
}

/* Показывет иконку в виде крестика при открытом меню меню */
.page-header__toggle--close .page-header__toggle-icon--close {
  display: block;
  fill: $grey-color--light;
}

/* Кнопки связи */
.page-header__contact {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    margin-left: auto;
  }

  @media (min-width: $breakpoint-desktop) {
    order: 1;
    margin-left: 0;
  }
}

.page-header__contact .contact-btn__item--phone {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.page-header__contact .contact-btn__item--email {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

/* Навигация в шапке сайта */
.page-header__nav {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 45px;
    padding-bottom: 90px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 630px;
    margin: 0;
    padding: 0;
  }
}

/* Стилизация шапки только для мобильных и планшетных устройств
   ========================================================================== */
@media (max-width: $breakpoint-desktop) {
  /* Вытаскиваем шапку из потока при включенном js */
  .page-header--no-js {
    position: static;
  }

  /* Меняем фон шапки при выключенном js */
  .page-header--no-js.page-header--blue {
    color: $blue-color--dark;

    background-color: $white-color;
    border-bottom: 1px solid #e5e5e5;
  }

  /* Убираем белый логотип при выключенном js */
  .page-header--no-js .logo--white {
    display: none;
  }

  /* Ставим синий логотип при выключенном js */
  .page-header--no-js .logo--blue {
    display: block;
  }

  /* Убираем кнопку меню при выключенном js */
  .page-header--no-js .page-header__toggle {
    display: none;
  }

  /* Возвращаем стандартное положение контенту под шапкой когда шапка не вырвата из потока */
  .page-header--no-js + .page-main {
    margin-top: 0;
  }
}
