/* ==========================================================================
   Основной контент
   ========================================================================== */

.page-main {
  //
}

.page-main__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 20px;

  background-color: $blue-color--dark;
}

.page-main__container {
  //
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.page-main__title {
  position: relative;

  display: inline-block;
  margin: 0;
  padding-bottom: 10px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: $white-color;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;

    width: 100%;
    height: 5px;

    background-color: $orange-color;
    border-radius: 3px;
  }

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 60px;

    font-size: 60px;
    line-height: 70px;

    &::before {
      bottom: -3px;
      height: 8px;
    }
  }
}

.page-main__link {
  display: none;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $breakpoint-tablet) {
    display: block;
    margin-top: 27px;

    text-align: right;
  }
}
