/* ==========================================================================
   Регистрация на сайте
   ========================================================================== */

.registration {
  padding-top: 70px;
  padding-bottom: 40px;

  background-color: $blue-color;
}

.registration .thumb-menu__item,
.registration .thumb-menu__link {
  color: $yellow-color;
}

.registration__container {
  //
}

.registration__wrapp {
  //
}

.registration__page-info {
  margin-bottom: 30px;
  padding: 0 25px;
}

.registration__form {
  margin-bottom: 30px;
}

.registration__contact-menu {
  //
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .registration {
    padding-top: 75px;
    padding-bottom: 80px;
  }

  .registration__wrapp {
    padding: 0 35px;
  }

  .registration__page-info {
    margin-bottom: 65px;
    padding: 0;
  }

  .registration__page-info br:first-of-type {
    display: none;
  }

  .registration__form {
    height: 81px;
    margin-bottom: 55px;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .registration {
    padding-top: 110px;
    padding-bottom: 130px;
  }

  .registration__wrapp {
    padding: 0 74px;
  }

  .registration__contact-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .registration__contact-menu .thumb-menu__item {
    margin-right: 235px;

    &:last-child {
      margin-right: 0;
    }
  }
}
