/* ==========================================================================
   Регистрация на сайте
   ========================================================================== */

.registration {
  padding-top: 70px;
  padding-bottom: 40px;

  background-color: $blue-color;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 75px;
    padding-bottom: 80px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 110px;
    padding-bottom: 130px;
  }
}

.registration .thumb-menu__item,
.registration .thumb-menu__link {
  color: $yellow-color;
}

.registration .thumb-menu__link:hover,
.registration .thumb-menu__link:focus {
  color: $yellow-color--dark;
}

.registration .thumb-menu__link:active {
  color: rgba($yellow-color--dark, 0.3);
}

.registration__container {
  //
}

.registration__wrapp {
  @media (min-width: $breakpoint-tablet) {
    padding: 0 35px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 74px;
  }
}

.registration__page-info {
  margin-bottom: 30px;
  padding: 0 25px;

  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 65px;
    padding: 0;
  }
}

.registration__page-info br:first-of-type {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.registration__page-info .mobile-hidden {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: inline;
  }
}

.registration__page-info .desktop-hidden {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.registration__form {
  margin-bottom: 30px;

  @media (min-width: $breakpoint-tablet) {
    height: 81px;
    margin-bottom: 55px;
  }
}

.registration__contact-menu {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.registration__contact-menu .thumb-menu__item {
  @media (min-width: $breakpoint-desktop) {
    margin-right: 235px;

    &:last-child {
      margin-right: 0;
    }
  }
}
