/* ==========================================================================
   Направления стран
   ========================================================================== */

.route {
  @include reset-ul;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 40px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 60px;
  }
}

.route::after {
  @media (min-width: $breakpoint-tablet) {
    content: "";
    position: absolute;
    top: 0;
    left: 395px;

    width: 1px;
    height: 115%;

    background-image: linear-gradient(to bottom, #eaecf2 85%, $white-color 100%);
  }

  @media (min-width: $breakpoint-desktop) {
    left: 774px;
    height: 135%;
  }
}

.route__item {
  position: relative;

  display: flex;
  min-height: 42px;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-tablet) {
    min-height: 70px;
  }
}

.route__item::after {
  content: "";
  position: absolute;
  bottom: -17px;
  right: 50px;

  width: 5px;
  height: 10px;

  background: url("../img/icons/small-arrow.svg") no-repeat;

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.route__item:last-child::after {
  display: none;
}

.route__item--add {
  background-color: $white-color--blue;
  border-radius: 5px;

  @media (min-width: $breakpoint-tablet) {
    background: transparent;
  }
}

.route__country {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 168px;
  padding: 10px 13px 10px 11px;

  border: 1px solid #cbced9;
  border-radius: 5px;

  @media (min-width: $breakpoint-tablet) {
    width: 370px;
    padding: 20px 25px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 730px;
  }
}

.route__country::before {
  content: "";
  position: absolute;
  right: -4px;
  z-index: 1;

  width: 8px;
  height: 8px;

  background-color: $blue-color--light;
  border-radius: 50%;

  @media (min-width: $breakpoint-tablet) {
    right: -34px;

    width: 15px;
    height: 15px;
  }

  @media (min-width: $breakpoint-desktop) {
    right: -53px;
  }
}

.route__item--select .route__country,
.route__item--add .route__country {
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.route__item--select .route__country {
  @media (min-width: $breakpoint-tablet) {
    border: 1px solid #cbced9;
    border-radius: 5px;
  }
}

.route__item--select .route__country::before,
.route__item--add .route__country::before {
  border: 1px solid #ced0db;
}

.route__item--select .route__country::before {
  background-color: $white-color;
}

.route__item--add .route__country::before {
  background-color: $white-color--blue;
}

.route__item--add .route__country {
  border: none;

  @media (min-width: $breakpoint-tablet) {
    background-color: $white-color--blue;
    border: 1px solid transparent;
    border-radius: 5px;
  }
}

.route__country-name {
  position: relative;

  width: 130px;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $blue-color--light;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;

  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;

    width: 30px;
    height: 100%;

    background-image: linear-gradient(to right, transparent 0, $white-color 70%);
  }

  @media (min-width: $breakpoint-tablet) {
    width: 295px;

    font-size: 20px;
    line-height: 18px;
  }
}

.route__item--select .route__country-name::after,
.route__item--add .route__country-name::after {
  display: none;
}

.route__country-btn {
  position: relative;
  z-index: 1;

  width: 12px;
  height: 12px;
  padding: 0;

  background-color: transparent;
  border: none;

  @media (min-width: $breakpoint-tablet) {
    width: 17px;
    height: 17px;
  }
}

.route__country-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 12px;
  height: 7px;

  background: url("../img/icons/dropdown-form.svg") no-repeat;
  opacity: 0.3;

  transform: translate(-50%, -50%);

  @media (min-width: $breakpoint-tablet) {
    width: 17px;
    height: 9px;
  }
}

.route__country-btn:hover,
.route__country-btn:focus {
  &::before {
    opacity: 0.6;
  }
}

.route__country-btn:active {
  &::before {
    opacity: 0.2;
  }
}

.route__item--select .route__country-btn,
.route__item--add .route__country-btn {
  left: auto;
  right: -52px;

  @media (min-width: $breakpoint-tablet) {
    right: auto;
  }
}

.route__country-btn--add {
  width: 14px;
  height: 14px;

  &::before {
    width: 14px;
    height: 14px;

    background-image: url("../img/icons/qty-plus.svg");
  }
}

.route__flag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;

  border: 1px solid #cbced9;
  border-left: none;
  border-radius: 5px;

  @media (min-width: $breakpoint-tablet) {
    justify-content: flex-start;
    width: 110px;
    margin-left: auto;

    border: none;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 182px;
  }
}

.route__item--select .route__flag,
.route__item--add .route__flag {
  border-radius: 0 5px 5px 0;
}

.route__item--select .route__flag::before,
.route__item--add .route__flag::before {
  background-color: transparent;
  border: 1px solid #ced1db;
}

.route__item--add .route__flag {
  border: none;
}

.route__flag-img {
  width: 35px;
  height: 24px;

  @media (min-width: $breakpoint-tablet) {
    width: 70px;
    height: 47px;
  }
}

.route__flag-btn {
  position: absolute;
  top: -10px;
  right: -10px;

  width: 21px;
  height: 21px;
  padding: 0;

  background-color: $white-color--blue;
  border: none;
  border-radius: 50%;

  @media (min-width: $breakpoint-tablet) {
    top: 50%;
    right: -5px;

    background-color: transparent;
    transform: translateY(-50%);
  }
}

.route__flag-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 9px;

  background: url("../img/icons/small-cross.svg") no-repeat;
  opacity: 0.3;

  transform: translate(-50%, -50%);

  @media (min-width: $breakpoint-tablet) {
    width: 18px;
    height: 18px;

    opacity: 0.2;
  }
}

.route__flag-btn:hover,
.route__flag-btn:focus {
  &::before {
    opacity: 0.4;
  }
}

.route__flag-btn:active {
  &::before {
    opacity: 0.2;
  }
}

.route__modal {
  position: absolute;
  left: 0;
  z-index: 2;

  display: none;
  min-height: 508px;

  box-shadow: 0 20px 50px rgba($blue-color--light, 0.1);

  @media (min-width: $breakpoint-tablet) {
    width: 370px;
    min-height: auto;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 524px;
  }
}

.route__modal--show {
  display: block;
}

.route__modal-head {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 42px;
  padding: 10px 13px 10px;

  background-color: $blue-color--light;
  border-radius: 5px 5px 0 0;

  @media (min-width: $breakpoint-tablet) {
    min-height: 70px;
    padding: 20px 25px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 730px;
  }
}

.route__modal-action {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 18px;
  }
}

.route__modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 0;

  background: none;
  border: none;

  @media (min-width: $breakpoint-tablet) {
    width: 18px;
    height: 18px;
  }
}

.route__modal-svg {
  width: 9px;
  height: 9px;

  fill: $white-color;

  @media (min-width: $breakpoint-tablet) {
    width: 18px;
    height: 18px;
  }
}

.route__modal-btn:hover .route__modal-svg,
.route__modal-btn:focus .route__modal-svg {
  fill: rgba($white-color, 0.3);
}

.route__modal-btn:active .route__modal-svg {
  fill: rgba($white-color, 0.5);
}

.route__modal-letters {
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;

  @media (min-width: $breakpoint-tablet) {
    margin-left: 0;
    padding: 34px 27px;

    background-color: $white-color;
    border-right: 1px solid #eaecf2;
    border-radius: 0 0 0 5px;
  }
}

.route__modal-letter {
  flex-grow: 1;
  width: 44px;
  height: 42px;
  margin-top: -1px;
  margin-left: -1px;

  background: $white-color;
  border: 1px solid #cbced9;

  &:nth-child(5n) {
    width: 43px;
  }

  &--active {
    background-color: $white-color--blue;
  }

  @media (min-width: $breakpoint-tablet) {
    width: 53px;
    height: 70px;

    &:nth-child(5n) {
      width: 53px;
    }

    &:nth-child(6n) {
      width: 55px;
    }

    &--active {
      color: $white-color;
      background-color: $blue-color--light;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    width: 60px;
    height: 70px;
    margin-right: 15px;
    margin-bottom: 15px;

    border-radius: 3px;

    &:nth-child(6n) {
      margin: 0;
    }

    &:nth-child(5n),
    &:nth-child(6n) {
      width: 60px;
    }
  }
}

.route__modal-abr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $blue-color--light;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $white-color--blue;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 18px;
  }
}

.route__modal-letter--active .route__modal-abr {
  @media (min-width: $breakpoint-tablet) {
    color: $white-color;
  }
}

.route__modal-list {
  @include reset-ul;
  position: absolute;
  left: 0;
  top: 288px;

  display: none;
  width: 100%;
  padding: 10px 19px;

  background: $white-color;
  border: 1px solid #cbced9;
  border-top: none;
  border-radius: 0 0 5px 5px;

  @media (min-width: $breakpoint-tablet) {
    top: 70px;
    right: -205px;
    left: auto;

    width: 205px;
    min-height: 413px;
    padding: 30px 25px 0;

    border: none;
    box-shadow: 50px 20px 50px rgba(29, 46, 91, 0.1);
  }

  @media (min-width: $breakpoint-tablet) {
    min-height: 488px;
    border-radius: 0 0 5px 0;
  }
}

.route__modal-letter--active .route__modal-list {
  display: block;
}

.route__modal-item {

}

.route__modal-name {
  font-size: $fz;
  line-height: $lh;
  font-weight: normal;
  letter-spacing: 0;
  color: $grey-color;
  text-decoration: none;
  text-transform: none;

  @media (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}
