/* ==========================================================================
   Навигация по соцсетям
   ========================================================================== */

.social-menu {
  @include reset-ul;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-menu__item {
  //
}

.social-menu__link {
  //
}
