/* ==========================================================================
   Инструкция пользования сервисом
   ========================================================================== */

.step {
  padding-top: 110px;
  padding-bottom: 40px;

  color: $white-color--blue;

  background-color: $blue-color;
  background-image: linear-gradient(to bottom, $blue-color--dark 110px, $blue-color 110px, $blue-color 100%);
}

.step__container {
  margin-top: -75px;
}

.step__list {
  @include reset-ul;
  box-sizing: border-box;
  counter-reset: section;
}

.step__item {
  position: relative;

  margin-top: -15px;
  padding: 22px 23px 34px 25px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $blue-color--dark;

  background-color: $orange-color;
  border-radius: 10px;

  &::before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    right: 23px;

    color: $white-color;
  }

  &:nth-child(4n+1) {
    background-color: $orange-color;
  }

  &:nth-child(4n+2) {
    background-color: $orange-color--light;
  }

  &:nth-child(4n+3) {
    background-color: $yellow-color--dark;
  }

  &:nth-child(4n+4) {
    background-color: $yellow-color;
  }

  &:last-child {
    padding-bottom: 22px;
  }
}

.step__text {
  display: inline-block;
  max-width: 143px;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .step {
    margin-top: -200px;
    padding-top: 0;
    padding-bottom: 95px;

    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 138px, $blue-color 138px, $blue-color 100%);
  }

  .step__list {
    display: flex;
    flex-wrap: wrap;
  }

  .step__item {
    width: 54.7%;
    margin: 0;
    padding: 30px 100px 60px 35px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 0;

    &::before {
      top: 40px;
      left: 34px;
      right: auto;
      bottom: 0;

      font-size: 30px;
      line-height: 120px;
    }

    &:nth-child(2n) {
      width: 50%;
      margin-left: -33px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-radius: 20px 20px 0 0;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      border-radius: 0 0 20px 20px;
    }
  }

  .step__text {
    max-width: 100%;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .step {
    margin-top: -230px;
  }

  .step__item {
    padding-bottom: 30px;

    &::before {
      top: -15px;
      left: auto;
      right: 33px;

      font-size: 24px;
    }

    &:nth-child(4n+1)::before,
    &:nth-child(4n+2)::before,
    &:nth-child(4n+3)::before {
      right: 66px;
    }

    &:nth-child(1n) {
      border-radius: 20px;
    }

    &:nth-child(1n+2) {
      margin-left: -32px;
    }

    &:nth-child(4n+1) {
      width: 25%; //330px
      margin-left: 0;
    }

    &:nth-child(4n+2),
    &:nth-child(4n+3) {
      width: 29.16666666666667%; //385px
    }

    &:nth-child(4n+3) {}

    &:nth-child(4n+4) {
      width: 23.86363636363636%; //315px
    }
  }
}
