/* ==========================================================================
   Тарифы
   ========================================================================== */

.table-price {
  width: 100%;
  table-layout: fixed;

  border-collapse: collapse;
}

.table-price tbody {
  counter-reset: section;
  display: flex;
  flex-wrap: wrap;
}

.table-price__row {
  border-bottom: 1px solid #e1e3e9;

  &:first-child {
    border-top: 1px solid #e1e3e9;
  }
}

.table-price--count .table-price__row {
  position: relative;

  &:nth-child(-n+3)::before {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    right: 0;

    width: 34px;
    height: 34px;
    padding: 12px 13px;

    font-size: $fz;
    line-height: 14px;
    font-weight: normal;
    color: $white-color;

    border-radius: 50%;
  }

  &:nth-child(1)::before {
    background-color: $orange-color--light;
  }

  &:nth-child(2)::before {
    background-color: $yellow-color--dark;
  }

  &:nth-child(3)::before {
    background-color: $yellow-color;
  }
}

.table-price__title,
.table-price__cash {
  display: block;
  width: 200px;

  font-size: $fz;
  line-height: $lh;
  font-weight: 300;
  color: $grey-color;
  text-align: left;
}

.table-price__title {
  padding-top: 10px;
}

.table-price__cash {
  padding-bottom: 10px;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .table-price {

  }

  .table-price tbody {
    position: relative;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: -33px;
      z-index: -1;

      width: 196px;
      height: 43px;

      background-color: #e2e5f2;
      border-radius: 20px 20px 0 0;
    }

    &::before {
      top: -43px;
      border-bottom: 1px solid #d6d9e6;
      border-radius: 20px 20px 0 0;
    }

    &::after {
      bottom: -43px;
      border-radius: 0 0 20px 20px;
    }
  }

  .table-price__row {
    display: flex;
    width: 100%;

    border: none;

    &:first-child {
      border: none;
    }
  }

  .table-price--count .table-price__row {


    &:nth-child(-n+3)::before {
      left: -90px;
      right: auto;

      width: 67px;
      height: 67px;
      padding: 24px 26px;

      font-size: 28px;
      line-height: 28px;
    }

    &:nth-child(1)::before {

    }

    &:nth-child(2)::before {

    }

    &:nth-child(3)::before {

    }
  }

  .table-price__title,
  .table-price__cash {
    padding: 16px 0;

    font-size: 28px;
    line-height: 33px;
  }

  .table-price__title {
    width: 400px;

    border-bottom: 1px solid #e1e3e9;

    &:first-child {
      border-top: 1px solid #e1e3e9;
    }
  }

  .table-price__cash {
    position: relative;
    z-index: 1;

    width: 163px;
    text-align: right;

    border-bottom: 1px solid #d6d9e6;

    &:first-child {
      border-top: 1px solid #d6d9e6;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;

      width: 120%;
      height: 100%;

      background-color: #e2e5f2;
    }
  }
}
