/* ==========================================================================
   Тэги
   ========================================================================== */

.tags {
  @include reset-ul;
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  margin-right: 7px;

  font-size: $fz;
  line-height: 18px;
  font-weight: normal;
  color: $grey-color;

  &:last-child {
    margin-right: 0;
  }
}

.tags__link {
  color: $grey-color;
  text-decoration: none;
}
