/* ==========================================================================
   Тарифы
   ========================================================================== */

.tariff {
  padding: 37px 0;
  background-color: $white-color--blue;
}

.tariff__wrapp {
  box-sizing: border-box;
  position: relative;

  padding: 10px 25px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 99px;
    height: 99px;

    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: 99px;
  }
}

.tariff__page-info {
  width: 110px;
  margin-bottom: 45px;
}

.tariff__page-info .page-info__title {
  margin-bottom: 0;
}

.tariff__price {
  margin-bottom: 30px;
}

.tariff__button {
  font-size: $fz;
  line-height: 16px;
  font-weight: 700;
  color: $blue-color;
  text-decoration: none;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .tariff {
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .tariff__wrapp {
    padding: 0;
    padding-left: 90px;
    padding-right: 35px;

    &::before {
      top: auto;
      right: 45px;
      bottom: -45px;
      z-index: 10;
    }
  }

  .tariff__page-info {
    width: auto;
    margin-bottom: 70px;

    text-align: center;
  }

  .tariff__price {
    margin-bottom: 55px;
  }

  .tariff__button {
    font-size: 20px;
    line-height: 20px;
    color: #132576;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .tariff__wrapp {
    padding-left: 160px;
    padding-right: 345px;

    &::before {
      right: 75px;
      bottom: 65px;

      width: 198px;
      height: 198px;

      background-size: 198px;
    }
  }

  .tariff__page-info {
    width: auto;
    margin-bottom: 70px;

    text-align: right;
  }
}
