/* ==========================================================================
   Пользовательская навигация
   ========================================================================== */

.user-menu {
  @include reset-ul;
}

.user-menu__item {
  //
}

.user-menu__link {
  width: 100%;
  padding: 13px 15px 7px;

  border-radius: 30px;
}

