/* ==========================================================================
   Кнопки большая
   ========================================================================== */

.button-big {
  position: relative;

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 22px 75px 22px 20px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $blue-color--light;
  text-align: left;
  text-transform: none;
  text-decoration: none;

  background-color: $yellow-color;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  &--bold {
    border: 3px solid $blue-color;
  }
}

.button-big__arrow {
  position: absolute;
  right: 25px;
  top: 50%;

  width: 10px;
  height: 14px;

  transform: translateY(-50%);

  & polygon {
    fill: $blue-color--light;
  }
}

.button-big__text {
  display: none;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .button-big {
    padding: 30px 35px 27px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }

  .button-big__arrow {
    right: 35px;
    top: 50%;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  .button-big__text {
    display: inline-block;
  }
}
