/* ==========================================================================
   Навигация по сайту
   ========================================================================== */

/* Список основного меню */
.site-menu {
  @include reset-ul;

  @media (min-width: $breakpoint-desktop) {
    order: -1;
    display: flex;
  }
}

/* Элемент основного меню */
.site-menu__item {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color: $blue-color;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $breakpoint-tablet) {
    font-size: 60px;
    line-height: 71px;
    text-align: left;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-right: 37px;

    font-size: 20px;
    line-height: 30px;
    color: $white-color;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Ссылка основного меню */
.site-menu__link {
  display: block;

  color: $blue-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba($blue-color, 0.7);
  }

  &:active {
    color: rgba($blue-color, 0.3);
  }

  @media (min-width: $breakpoint-desktop) {
    color: $white-color;

    &:hover,
    &:focus {
      color: $yellow-color;
    }

    &:active {
      color: rgba($yellow-color, 0.3);
    }
  }
}
