/* ==========================================================================
   Пользовательская навигация
   ========================================================================== */

/* Пользовательское меню */
.user-menu {
  @include reset-ul;
}

/* Элемент пользовательского меню */
.user-menu__item {
  //
}

/* Ссылка пользовательского меню */
.user-menu__link {
  width: 100%;
  padding: 11px 15px 9px;

  border-radius: 30px;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .user-menu__link {
    min-width: 189px;
  }
}
