/* ==========================================================================
   Кнопка простая
   ========================================================================== */

.button {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 8px 15px 2px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $blue-color--dark;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $yellow-color;
  border: none;
  border-radius: 20px;

  cursor: pointer;
}

/* Планшеты
   ========================================================================== */
@media (min-width: $breakpoint-tablet) {
  .button {
    font-size: 20px;
    line-height: 30px;
  }
}

/* Компьютеры
   ========================================================================== */
@media (min-width: $breakpoint-desktop) {
  //
}
